.itemUsers{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.itemUsers img{
    width: 10%;
    border-radius: 50%;
}

.buttonUsers{
    margin-left: 10px;
    margin-top: 10px;
}

.pageNumber{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.pageNumber span{
    margin-right: 10px;
    font-size: 30px;
}

.pageNumber span:hover{
    cursor: pointer;
}

.selectedPage{
    color: greenyellow;
}

.preloader{
    width: 50%;
}