.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    height: 80px;
  }

  .logo img {
    width: 70px;
    margin-left: 60px;
  }

  .login a{
    font-size: 20px;
    margin-top: 15px;
    margin-right: 60px;
  }

  