.header{
    grid-area: h;
    background-color: green;
  }
  
  .header img{
    height: 60px;
  }

  .header a{
    position: absolute;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 950px;
    
  }