.avatar img{
    width: 20%;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50% 50% 50% 50%;
}

.profileName{
    font-size: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.status{
    margin-left: 10px;
    margin-bottom: 10px;
}

.discription{
    margin-left: 10px;
    margin-bottom: 10px;
}

.contactInfo{
    margin-left: 10px;
    margin-bottom: 10px;
}