.friendsNavBlock {
    display: flex;
    justify-content: space-around;
}

.friendsNav {
    
    
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    
    
}

.friendsNav img{
    width: 50px;
}

.friendsNav span{
    font-size: 0.5em;
}

.friendsNav .block img{
    border-radius: 50%;
    
}





