.appWrapper {
  display: grid;
  grid-template-areas: 
  'h h'
  'n c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 1200px;
  margin: auto;
}

.content{
  grid-area: c;
  background-color: #00e1ff;
}

.content .item{
  margin-left: 10px;
}

.content .item img{
  width: 50px;
  border-radius: 50%;
}

.content img{
  width: 100%;
  height: 50%;
}


  